.CurrentPage {
    display: flex;
    flex-direction: column;
}
.CurrentPage p {
font-size: 0.75rem;
margin: 0;
align-self: center;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Navbar {
    align-items: center;
}
h2 {
    font-size: 2rem;
}
.TryToEscape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}