body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Description {
Display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.Navbar {
    margin:0;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
img {
    margin-top: 1rem;
    width: 10rem;
    border : rgba(0, 120, 184, 0);
    border-radius: 100%;
    transition: 0.75s;
    display: flex;
    justify-self: center;
    align-self: center;
}
img:hover {
    transform: scale(1.5);
    transition: 0.5s;
    border: 2.5px solid #f1ee3f;
    box-shadow: 0px 0px 50px #e1f722;
    margin-top: 4rem;
}
img:active {
    transition: 0.5s;
    rotate: 90deg;
    rotate: 360deg;
}